.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: var(--text-primary-color);
  background-color: var(--background-alt);
}

.title {
  width: calc(100vw - 20px - 20px);
  max-width: 1260px;
  margin-right: auto;
  margin-left: auto;
}

.main {
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 20px - 20px);
  max-width: 1240px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
