/* .heading {
  margin: 40px 0 24px;
} */

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  width: 100%;
  max-width: 600px;
  margin: 0;
  padding: 0;
  overflow: scroll;
  list-style: none;
}

.listPoint {
  width: 100%;
}
